body{
    margin: 0px;
    font-family: Arial, "ヒラギノ角ゴ W3", "Hiragino Kaku Gothic Pro", Osaka, メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    letter-spacing: 0.05em;
}
.top-wrapper{
    height:700px;
    background-image: url(images/S__5161098.jpg);
    background-position: center;
    background-size: cover;
}

.head-btn{
    color: azure;
    text-decoration: none;
    font-family: "ヒラギノ角ゴ Pro W6";
    font-weight: 800;
    font-size: 20px;
    padding: 10px 20px;
}

.head-tab{
    padding: 70px 20px 40px 20px;
    text-align: center;
}

.mn-about{
    height: 300px; 
}

.mn-about p{
    color: white;
    margin: 50px 15px 30px 25px;
    margin-top: 200px;
    font-size: 13px;
    line-height: 23px;
    font-weight: 50;
    text-shadow: 1px 0px 3px #708090;
}

.mn-about a{
    color: azure;
    border: 1px solid azure;
    padding: 20px;
    margin:30px;
    text-decoration: none;
    font-size: 13px;
    text-shadow: 1px 0px 3px #708090;
}

.a-wrapper{
    margin-top: 50px;
    background-image: url(images/moon2.jpg);
    height: 700px;
    background-size: cover;
    position: relative;
}

.mn-pdt{
    position: absolute;
    z-index: 100;
    top: 390px;
    left: 0px;
    position: absolute;
}
.mn-pdt p{
    color: azure;
    margin: 50px 15px 30px 15px;
    font-size: 13px;
    display: block;
    text-shadow: 1px 0px 3px #808080;
}
.mn-pdt a{
    color: azure;
    border: 1px solid azure;
    padding: 20px;
    margin:30px;
    text-decoration: none;
    font-size: 13px;
    text-shadow: 1px 0px 3px #808080;
}

.b-wrapper{
    margin-top: 50px;
    background-image: url(images/S__5161096.jpg);
    height: 250px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.mn-pfl{
    position: absolute;
    top: 50px;
    left: 0;
}
.mn-pfl p{
    color: #ffffff;
    margin: 50px 15px 30px 15px;
    font-size: 13px;
    display: block;
}
.mn-pfl a{
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 20px;
    margin:30px;
    text-decoration: none;
    font-size: 13px;
}

.footer{
    height: 200px;
}

.mn-icon{
    margin: 25px;
    text-align: center;
    border-bottom: 2px solid black;
}

.insta-icon{
    padding: 25px;
    color: black;
}
  
.twitter-icon{
    padding: 25px;
    color: black;
}

.mn-cpwt{
    text-align: center;
}

/*共通*/

.page-title{
    margin: 25px;
    border-bottom: 1px solid black;
}

.page-title h1{
    padding-left: 20px;
    font-size: 22px;
    font-weight: 100;
}

/**/


   /* about */

.header-ab{
    height: 140px;
    background-image: url(images/moon_about_header.jpg);
    background-size: cover;
}

.msg-ab{
    margin: 25px;
    border: 1px solid black;
    text-align: center;
    font-size: 12px;
    line-height: 40px;
}

.mgzn-img{
    text-align: center;
}

.mgzn-img img{
    padding-top: 30px;
    padding-bottom: 30px;
    width: auto;
    height: 300px;
}

.mgzn-info{
    text-align: center;
}

.mgzn-price{
    margin: 25px;
    border-top: 1px solid black;
}

.mgzn-price p{
    padding: 10px;
}

.linkto-store{
    margin: 50px;
}

.linkto-store a{
    color: black;
    padding: 15px 50px;
    text-decoration: none;
    border: 1px solid black;
}

.linkto-store i{
    padding-left: 15px;
}

/*profile*/

.header-pfl{
    height: 140px;
    background-image: url(images/moon_profile_header.jpg);
    background-size: cover;
    background-position: 0px 200px;
}

.members-pfl{
    text-align: center;
}

.members-pfl h2{
    font-size: 18px;
    font-weight: lighter;
}

.members-pfl p{
    font-size: 15px;
}

/*products*/

.header-pd{
    height: 140px;
    background-image: url(images/moon_products_header.jpg);
    background-size: cover;
    background-position: 0px 170px;
}

.top-container-pd{
    margin: 25px;
    font-size: 12px;
}

.swiper-slide img{
    padding: 30px 0px;
    width: auto;
    height: 300px;
}

.swiper-wrapper{
    text-align: center;
}

.illu img{
    width: auto;
    height: 280px;

}




/*contact*/

.header-con{
    height: 140px;
    background-image: url(images/moon_contact_header.jpg);
    background-size: cover;
    background-position: 0px 160px;
}

.contact-top{
    font-size: 40px;
    font-weight: bold;
    padding: 0px 5px 60px 5px;
    margin-bottom: 20px;
    border-bottom: 2px solid black ;
} 
.contact-top h1{
    font-size: 24px;
    margin: 0px;
}

.wrapper{
    margin: 30px;
}
.main-wrapper{
    margin: 60px 0px;
    padding: 20px;
    background-color: #f8f8f8;
}
.m_section_ttl{
    margin: 5px 0px 25px 0px;
    font-size: 16px;
}
.m_textbox input {
    min-height: 20px;
    padding: 10px 15px;
}
span{
    font-size: 12px;

}
.m_textaria input, .m_textaria textarea, .m_textbox input, .m_textbox textarea {
    border: 1px solid #e5e5e5;
    border-top-color: rgb(229, 229, 229);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(229, 229, 229);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(229, 229, 229);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(229, 229, 229);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    width: 100%;
    box-sizing: border-box;
    border-radius: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.m_textbox m_self_b is-imp required{
    float: left;
    display: inline-block;
}

#dwfrm_contactus_lastname{
    width: 150px;
    float: left;
    margin-right: 11px;
}
#dwfrm_contactus_firstname{
    width: 150px;
}

.m_col m_col_two m_col_keep{
    display: flex;
}
input::placeholder{
    color: #e5e5e5;
}
textarea::placeholder{
    color: #e5e5e5;
}
.m_textaria textarea {
    min-height: 100px;
    padding: 10px 15px;
}
button.m_btn {
    display: block;
}
.m_btn_fix {
    width: 250px;
    padding: 0 20px;
    box-sizing: border-box;
}

.m_btn {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    color: #fff;
    font-size: 12px;
    background: #000;
    border: none;
    text-align: center;
    line-height: 1.2;
    padding: 5px;
}